
<%- include('_header') %>

<style>
 .sust-Log{
    background-image: url('img/coop.jpg');
    padding: 180px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}


  .corpo{
        background-color: #474e5d;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 400px;
        padding-right: 400px;
        }


</style>


<div class="sust-Log">
<h1>Login</h1>
</div>




<div class="corpo">
    <div class="login">
        <div class="container">
            <div class="card">
                <div class="card-body">
                <form action="" method="POST">
                    <label for="email">Email:</label>
                    <input type="email" name="email" class="form-control" required>
                    <label for="senha">Senha:</label>
                    <input type="password" name="senha" class="form-control" required>
                    <button type="submit" class="btn btn-dark mt-4 form-control">Login</button>
                </form>
                <a href="/register"><button class="btn btn-dark mt-2">Register</button></a>
                </div>
            </div>
        </div>
    </div>


</div>

<%- include('_footer') %>